{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier",
        "airbnb",
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react-hooks", "react", "@typescript-eslint"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
        "react/prop-types": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "indent": ["error", 2],
        "import/extensions": ["error", "ignorePackages", {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never",
            "mjs": "never"
          }],
        "react/display-name": "off",
        "react/no-array-index-key": "off",
        "react/jsx-props-no-spreading": "off",
        "import/prefer-default-export": "off",
        "react/jsx-first-prop-new-line": [1, "multiline"],
        "react/jsx-max-props-per-line": [1,
            {
                "maximum": 1
            }
        ],
        "no-undef": "off"
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [
              ".js",
              ".jsx",
              ".json",
              ".ts",
              ".tsx",
              ".d.ts"
            ]
          }
        }
      }
}
